/* global.css - Estilos generales de la aplicación */

body {
    background: linear-gradient(135deg, #e0eafc, #cfdef3);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Contenedor principal de la aplicación */
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 5vw;
    padding: 2vw;
    flex-wrap: nowrap;
}
